---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPosts from "../components/BlogPosts.astro";

const allPosts = Object.values(import.meta.glob('./posts/**/*.md', { eager: true })).reverse();
---

<BaseLayout pageTitle="All My Posts">

	<section class="blog-posts">

		<BlogPosts posts={allPosts} />

	</section>

</BaseLayout>