---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPosts from "../components/BlogPosts.astro";

const recentPosts = Object.values(import.meta.glob('./posts/**/*.md', { eager: true })).reverse().slice(0,10);

---

<BaseLayout pageTitle="My Blog">

	<section class="hero-intro">
    <div class="intro-content">
        <div class="intro-text">
            <h2>Hi, I'm Raymond Camden 👋</h2>
            
            <p>
            I'm a developer advocate who loves the web platform, APIs, AI, and basically just anything involving
            code. I love to write about technology and share that with others. I've got fun stuff to show you and I'm so happy you're here!
            </p>

            <p>
            Welcome to my corner of the internet where I share insights about development, best and sometimes questionable practices, and cat demos.
            </p>
        </div>
        <div class="intro-image">
            <img src="https://www.raymondcamden.com/images/avatar2.jpg" alt="Profile photo" class="profile-photo">
        </div>
    </div>
	</section>

	<section class="blog-posts">

		<BlogPosts posts={recentPosts} />

		<p>
		Want to read everything? Head over to my <a href="/all">giant list of every single freaking post ever!</a>
		</p>

	</section>

</BaseLayout>