/* courtsey of MDN */
::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

dialog {
    width: 600px;

    table {
        width: 100%;
    }

    input {
        width: 80%;
    }
}