---
import '../css/app.css';

const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{pageTitle}</title> 
    
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>

    <header>

        <nav>
            <a href="/">Home</a>
            <a href="https://github.com/cfjedimaster/astro-tests/tree/main/tmdb-movie-browser-v6">Github</a>
        </nav>

    <h1>TMDB Movie Browser</h1>
    </header>

    <main>
        <h2>{pageTitle}</h2>
    <slot/>
    </main>

    <footer>
        made by ray
    </footer>

</body>
</html>