---
export const prerender = false; 

import BaseLayout from '../layouts/BaseLayout.astro';
import { getLiveCollection } from 'astro:content';

const { entries } = await getLiveCollection('genres');

Astro.cache.set({
  maxAge: 120, // Cache for 2 minutes
  swr: 60, // Serve stale for 1 minute while revalidating
});

---

<BaseLayout pageTitle="List of Genres">

	<ul>
		{ entries.map((genre:any) => 
			<li><a href={"genre/" + genre.id + "?l=" + genre.data.name}>{genre.data.name}</a></li>
		)}
	</ul>

</BaseLayout>