---
import BaseLayout from '../layouts/BaseLayout.astro';

const CLIENT_ID = process.env.CLIENT_ID;
const REDIRECT_URL = process.env.REDIRECT_URL;

const getAuthURL = () => {
  let params = new URLSearchParams();
  params.set('client_id', CLIENT_ID);
  params.set('redirect_uri', REDIRECT_URL);
  params.set('response_type','code');
  params.set('scope','https://www.googleapis.com/auth/calendar.readonly');
  let url = 'https://accounts.google.com/o/oauth2/v2/auth?' + params.toString();
  return url;
}

// treat it like a flash var, get it and nuke it
let error = await Astro.session?.get('error');
if(error) Astro.session.set('error', null);
console.log('error',error);
---

<BaseLayout>

	<h1>Login</h1>
	
	{ error && 
		<p>This error was returned: { error }</p>
	}
	<p>
	Link to login <a href={ getAuthURL() }>here</a>.
	</p>

</BaseLayout>

